@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #d8d8d2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 320px;
  background-color: #e4e3dd;
  border-radius: 20px;
  padding: 30px 25px;
  text-align: center;
  position: relative;
  overflow: hidden;
}



.logo h1 {
  font-size: 22px;
  font-weight: 700;
  color: #1b2b2e;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #1b2b2e;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 20px;
  margin-bottom: 12px;
  background-color: #0e3e3d;
  color: #fff;
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #b9b9b9;
}

a {
  font-size: 12px;
  color: #0e3e3d;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-bottom: 20px;
}

.btn-entrar {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #1b2b2e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-entrar:hover {
  background-color: #0e3e3d;
}



.social-login {
  margin-top: 10px;
  font-size: 14px;
  color: #1b2b2e;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 8px;
}

.social-btn {
  border: 2px solid #000;
  border-radius: 25px;
  padding: 6px 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #fff;
  cursor: pointer;
}

.social-btn:hover {
  background-color: #f0f0f0;
}

